/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700;800&display=swap');

/* Base Style */
:root {
  --main-color: #1a1814;
  --accent-color: #cda45e;
  --font-color: #e4e4e4;
}

* {
  line-height: 1.6 !important;
}

nav {
  background-color: var(--main-color) !important;
  text-align: right !important;
}

button {
  border-color: var(--main-color) !important;
}

body {
  background-color: var(--main-color) !important;
}

body img {
  width: 100%;
}

.nav-logo {
  width: 34px;
}

.nav-item {
  list-style: none;
  position: relative;
}

.nav-link-nav {
  color: var(--font-color) !important;
  font-weight: 500;
}

.nav-link-nav:hover {
  color: var(--accent-color) !important;
}

.nav-link-nav:hover::after {
  content: '';
  border-bottom: none !important;
}

.nav-link-nav:hover {
  border: none !important;
}

.nav-link {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.top-menu {
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 40px;
}

p,
a {
  color: var(--font-color) !important;
}

h1,
h4,
h5 {
  color: var(--accent-color) !important;
}

h1 {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-size: 2.4rem !important;
  margin-bottom: 20px !important;
}

.sub-title {
  color: var(--font-color);
  margin-bottom: 0 !important;
  text-transform: uppercase;
}

h5 {
  font-weight: bold !important;
  margin-bottom: 0 !important;
}

.food-desc {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 12px;
}

.menu {
  position: relative;
}

.price {
  position: absolute;
  top: 4px;
  right: 0;
}

.active-link,
.active-link-nav {
  color: var(--accent-color) !important;
}

/* .active-link-nav {
  border-bottom: 2px solid var(--accent-color);
} */

.nav-link:hover {
  color: var(--accent-color) !important;
}

.nav-item-list + .nav-item-list {
  margin-left: 15px !important;
}

/* Jumbotron */
.jumbotron {
  background-image: url('/assets/img/bg-accent.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}

.jumbotron-reverse {
  background-image: url('/assets/img/bg-accent-reverse.jpg');
}

/* Footer */
.footer-logo img {
  width: 200px;
  margin-bottom: 20px;
}

footer p {
  width: 100%;
  max-width: 690px;
  margin: auto;
  margin-bottom: 20px;
}

.socials a:nth-child(2) {
  margin: 0 20px;
}

.socials a ion-icon:hover {
  color: var(--accent-color);
}

/* Menu Animation */
.menus {
  display: none;
}

.menus.active {
  display: block;
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .nav-link-nav {
    text-transform: uppercase;
    margin-left: 25px !important;
  }

  .top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .titles {
    text-align: left;
  }

  .nav-link {
    margin-left: 25px;
  }

  .titles {
    display: flex;
    align-items: center;
  }

  .titles h5 {
    margin-right: 10px;
  }

  .titles .line {
    width: 120px;
    height: 2px;
    background-color: var(--accent-color);
  }

  .nav-link:before {
    content: '';
    border-left: 1px solid var(--font-color);
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    pointer-events: none;
  }

  .nav-item:first-child .nav-link::before {
    content: '';
    border-left: none;
  }
}
